* {
  box-sizing: border-box;
}

body {
    background-color: powderblue;
  }
h1 {
color: blue;
}
p {
color: red;
}

::backdrop {
background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
);
opacity: 0.75;
}

.form-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 500px;

}

.form-group {
  width: 100%;
  margin: 10px;
}

.form-group label {
  display: inline-block;
  width: 100px;
}

.form-group input {
  display: inline-block;
  width: 65%;
}

.form-group textarea {
  display: inline-block;
  width: 65%;
  resize: none;
}

.writing-summary {
  background-color: aliceblue;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.writing-summary:hover {
  background-color: gainsboro;
}

.writing-summary p {
  color: brown;
}