{% block adminToggle %}
<button id="showDialog">
{% if admin %}
log out
{% else %}
log in
{% endif %}
</button>
<dialog id="adminDialog" class="backdrop:backdrop-blur backdrop-opacity-10">
    <div hx-get="/auth/panel" hx-trigger="load" hx-swap="outerHTML" ></div> 
    <button id="closeAdminDialog">close</button>
    <button hx-get="/auth/secured/" hx-swap="innerHTML">test</div>
</dialog>
{% endblock adminToggle %}
