<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Joe's Blog{% endblock %}</title>

    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" href="/favicon.png">

    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Work+Sans:wght@100..900&display=swap" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</head>
<body hx-ext="response-targets" hx-boost class="bg-slate-50 dark:bg-slate-900 w-screen text-slate-900 dark:text-emerald-200">
    <div id="page-content">
    {% include "page_header" %}
        <main class="flex flex-col max-w-full sm:max-w-3xl mx-auto">
            {% block content %}{% endblock %}
        </main>
        <footer>
            <!-- Footer content goes here -->
        </footer>
    </div>
</body>
    <script src="/js/dialog.js"></script>
</html>
