{% extends "base_template" %}

{% block title %}{{document_title}}{% endblock %}

{% block content %}
<div class="p-4">
    <h1 class="my-4 font-serif">{{document_title}}</h1>
    <div class="document">
        {{ raw_data | safe}}
    </div>
</div>
{% endblock %}