{% for data in blog_data%}
    <div class="writing-summary">
        <h2>{{data.title | default(value='-') }}</h2>
        <p>{{data.creation_data | default(value='-') }}</p>
        <p>{{data.blurb | default(value='-') }}</p>
        <p>{{data.id | default(value='-') }}</p>
        <p>{{data.published_date | default(value='-') }}</p>
        <p>{{data.is_published | default(value='-') }}</p>
        <p>{{data.visits | default(value='-') }}</p>
    </div>
{% endfor %}