{% extends "base_template" %}

{% block title %}{{document_title}}{% endblock %}

{% block content %}
<div class="p-4 divide-y divide-slate-600">
    {# <h1 class="my-4 font-serif">{{document_title}}</h1> #}
    <p class="dark:text-slate-400 text-right">Published on {{published_date}}</p>
    {# <hr class="dark:text-slate-400" /> #}
    <div class="document">
        {{ raw_data | safe}}
    </div>
</div>
{% endblock %}